[submodule "beautifulhugo"]
	path = beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "mtgrunt.github.io"]
	path = mtgrunt.github.io
	url = https://github.com/mtgrunt/mtgrunt.github.io.git
[submodule "public"]
	path = public
	url = https://github.com/mtgrunt/mtgrunt.github.io.git
